table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
}
.noborder td,
.noborder th {
  border: none;
}
body {
  padding: 50px;
}
h1 {
  margin-top: 60px;
}
thead th {
  background-color: #cccccc;
}
