td, th {
width: 50px;
height: 30px;
border: 1px solid black;
text-align: center;
}
table {
border-collapse: collapse;
margin: 0 auto;
margin-top: 20px;
}

.neg{
	font-weight:bold ;
	color:black ;
	background-color:#ccc ;
}

.sub{
	text-decoration:underline ;
}

.red{
	color: red;
}

.blue{
	color:blue;
}

.par{
	background-color:#efefef ;
}

.imp{
	background-color:#ccc ;
}